/* @theme my_black_style */

@import 'default';

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fira Code";
    color: white;
    font-weight: 300;
    border-bottom: none !important;
}

section {
    background: black;
    font-family: "Fira Code";
    color: white;
}

strong {
    color: inherit !important;
    font-weight: bold !important;
}

section::after {
    font-family: "Fira Code";
}

pre {
    background-color: lightgray;
    color: black;
}

code {
    font-family: "Fira Code";
}

th,
td {
    background-color: black;
}

li {
    color: white;
}

blockquote {
    color: #aaaaaa;
}